<section class="table-wrapper">
  <table id="table" class="tablesorter">
    <thead>
      <tr>
        <th>city</th>
        <th>state</th>
        <th>total population</th>
        <th>population change</th>
        <th>%</th>
        <th>international migration</th>
        <th>%</th>
        <th>domestic migration</th>
        <th>%</th>
        <th>natural %</th>
      </tr>
    </thead>
    <tbody>
      <% @populations.each do |row| %>
        <tr>
          <td><%= row[:geo_area] %></td>
          <td><%= row[:state].split(' ').first %></td>
          <td><%= row[:tot_pop] %></td>
          <td><%= row[:tot_pop_change] %></td>
          <td><%= (row[:tot_pop_change].to_f / row[:tot_pop].to_f * 100).round(2) %></td>
          <td><%= row[:net_int_mig] %></td>
          <td><%= (row[:net_int_mig].to_f / row[:tot_pop].to_f * 100).round(2) %></td>
          <td><%= row[:net_domestic_mig] %></td>
          <td><%= (row[:net_domestic_mig].to_f / row[:tot_pop].to_f * 100).round(2) %></td>
          <td><%= (row[:natural_increase].to_f / row[:tot_pop].to_f * 100).round(2) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
