<section class="table-wrapper">
  <table id="table" class="tablesorter">
    <thead>
      <tr>
        <th>city</th>
        <th>state</th>
        <th>total population</th>
        <th>population change</th>
        <th>natural increase</th>
        <th>international migration</th>
        <th>domestic migration</th>
        <th>percent change</th>
      </tr>
    </thead>
    <tbody>
      <% @storage.all_populatations.each do |row| %>
        <tr>
          <td><%= row[:geo_area] %></td>
          <td><%= row[:state].split(' ').first %></td>
          <td><%= row[:tot_pop] %></td>
          <td><%= row[:tot_pop_change] %></td>
          <td><%= row[:natural_increase] %></td>
          <td><%= row[:net_int_mig] %></td>
          <td><%= row[:net_domestic_mig] %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
